 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 70px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1667px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 28px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 12px auto 0 6px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 2px 0 6px;
}

.u-section-1 .u-text-5 {
  font-family: "Beau Rivage";
  font-size: 1.25rem;
  margin: 20px 62px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 2px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px auto 0 2px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px auto 0 2px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px auto 0 2px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1375px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}

.u-block-ab61-18:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-18:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-18:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-18:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ab61-18:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ab61-22:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-22:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-22:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-22:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ab61-22:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ab61-26:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-26:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-26:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ab61-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ab61-30:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-30:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-30:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-30:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ab61-30:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ab61-34:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-34:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-34:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ab61-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ab61-38:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-38:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-38:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-38:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ab61-38:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout:hover .u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout.hover .u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-42:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout:hover .u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout.hover .u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-43:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout:hover .u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout.hover .u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-45:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout:hover .u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout.hover .u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-46:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout:hover .u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout.hover .u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-47:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout:hover .u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout.hover .u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-48:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout:hover .u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout.hover .u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-49:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout:hover .u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateY(px) !important;
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-container-layout.hover .u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
  fill: #db545a !important;
}

.u-block-ab61-50:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-section-1 .u-container-layout:hover .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-1 .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout.hover .u-section-1 .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-layout-wrap-1:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout:hover .u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout.hover .u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-53:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout:hover .u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout.hover .u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-55:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout:hover .u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout.hover .u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-56:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout:hover .u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout.hover .u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-57:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout:hover .u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout.hover .u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-58:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout:hover .u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout.hover .u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-59:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout:hover .u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: #db545a !important;
}

.u-container-layout.hover .u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-ab61-60:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-ab61-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-ab61-72:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-ab61-72:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-ab61-94:not([data-block-selected]):not([data-cell-selected]),
.u-block-ab61-94:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ab61-94:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-ab61-94:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-ab61-94:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-ab61-94:not([data-block-selected]):not([data-cell-selected]) {
  color: #db545a !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-ab61-94:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 599px;
}

.u-section-2 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  margin: 50px auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-text-1 {
  margin: 37px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-text-3 {
  margin: 37px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-2 .u-text-5 {
  margin: 37px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 80px;
}

.u-section-2 .u-text-7 {
  margin: 37px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1203px;
}

.u-section-3 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 290px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 381px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-2 {
  grid-template-rows: auto;
  width: 290px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 381px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-3 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-3 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 381px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-top: -261px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-3 .u-list-3 {
    height: auto;
  }

  .u-section-3 .u-repeater-3 {
    min-height: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -953px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 772px;
  }

  .u-section-3 .u-repeater-3 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 944px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: -1504px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-top: -1497px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}